<!-- * se usa para selecionar tudo --!>
<!-- # se usa no ID --!>
<!-- . SE USA PARA CLASS --!>




h1 {
    color: blue;
    background-color: rgb(123, 50, 0);

}

p{
 color: brown;
 font-size: 20px;

}

button{
    background-color: blueviolet;
    border-color:blueviolet ;
}

.texto {
    color: chocolate;
    font-weight: 20px;
}

.botao{
    color: cadetblue;
    background-color: black; 
    border-color: blue;
    border-radius: 10px;
}


h1{
 color: blue;
 font-size: 20px;
font-weight: 50px;
font-style: italic;
line-height: 50px;
letter-spacing: 40px;
text-shadow: 10px 10px 20px #f00000;
}

p{
    font-weight: 50px;
font-style: italic;
line-height: 50px;
letter-spacing: 40px;
text-shadow: 10px 10px 20px #f00000;
font-size: 50px;
}

.box{
    width: 50px;
    height: 50px;
    background-color: blueviolet;
    padding: 100px 100px 50px;
    font-style: italic;
    border-radius: 10px;
    font-weight: bolder;

}